body{
    font-family: 'Raleway', sans-serif;
}
/* header */
header{
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
}
.logo1_1{
    width: 44px;
    height: 21px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo1_2{
    width: 71px;
    height: 21px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 24px;

}
.email{
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.tel{
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* main */
.header-section{
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
    background: rgba(46, 47, 66, 1);

}
h1{
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}
.service-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}
.descr-section{
    position: absolute;
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;
}
.feature-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 264px;
    left: 156px;
}
.feature-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 264px;
    left: 444px;
}
.feature-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 264px;
    left: 732px;
}
.feature-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 264px;
    left: 1020px;
}